<ion-content>
  <ion-slides [options]="slideOpts" #mySlider>
    <ion-slide class="content">
      <div class="content-header">
        <ion-icon (click)="dismiss()" class="content-header-close" name="arrow-back-outline"></ion-icon>
        <h2>{{type==1?'Telefon numarani doğrula':'E-posta adresi doğrula'}} </h2>
      </div>
  
      <div class="input-form">
        <ion-input placeholder="" [(ngModel)]="_email"></ion-input>
      </div>
      <ion-icon name="arrow-forward-circle-outline" class="content-continue" (click)="nextSlide()"></ion-icon>
    </ion-slide>
    <ion-slide class="content">
      <div class="content-header">
        <ion-icon (click)=" prevSlide()" class="content-header-close" name="arrow-back-outline"></ion-icon>
        <h2>  Kodu Doğrula</h2>
      </div>
  
      <div class="input-form">
        <ion-input placeholder="" [(ngModel)]="code"></ion-input>
      </div>
      <ion-icon name="arrow-forward-circle-outline" class="content-continue" (click)="nextSlide()"></ion-icon>
    </ion-slide>
  </ion-slides>
</ion-content>
