<ion-content [fullscreen]="true">
  
  <ion-toolbar color="#c6180a">
    <h2>Profil</h2>
  </ion-toolbar>
  <ion-list class="main-header">
    <div align="center">
      <ion-icon name="ellipsis-vertical-outline" id="trigger-button"></ion-icon>
      <ion-popover trigger="trigger-button">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item>
                <ion-list  (click)="changeImage()">
                  Fotografımı düzenle
                </ion-list>
              </ion-item>
              <ion-item>
                <ion-list>
                  Bilgilerimi düzenle
                </ion-list>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>

      <ion-avatar>
        <img src="{{imgUrl?imgUrl:'https://cdn.blablacar.com/comuto3/images/avatar/pixar/passenger-f-02.svg'}}" alt="profile photo">
      </ion-avatar>
      <h3>{{profile.name}} {{profile.surname}}</h3>
    </div>
  </ion-list>
  <ion-row class="info-btn">
    <ion-segment (ionChange)="segmentChanged($event)" value="1" >
      <ion-segment-button  class="ion-text-center" value="1">
        <ion-label>Bilgilerim</ion-label>
      </ion-segment-button>
      <ion-segment-button  class="ion-text-center" value="2">
        <ion-label>Hesap</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-row>

  <ion-list *ngIf="slider">
    <ion-item>
      <ion-label>
        <ion-text>Profilini doğrula</ion-text>
        <ul>
          <!-- <li (click)="goAuth()">Kimliğimi doğrula</li> -->
          <li (click)="goNumber('1')">Telefonumu ekle</li>
          <!-- <li (click)="goNumber('2')">Doğrula: {{profile.email}}</li> -->
        </ul>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Hakkında</ion-text>

      
        <ul>
          <li (click)="goAboutMe('1')">  {{userData?.content ? userData?.content:'Kısa özgeçmişimi yaz'}}</li>
          <!-- <li>Tercihlerimi ekle</li> -->
        </ul>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Araba</ion-text>
        <ul>
          <li (click)="goAddCar('')">Araba ekle</li>
        </ul>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!slider">
    <ion-item>
      <ion-label>
        <ion-text>Puanlarım</ion-text>
        <ul>
          <li routerLink="/stars">Puanlar</li>
        </ul>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Tercihler</ion-text>
        <ul>
          <li>Bildirim ve İletişim</li>
          <li>Şifre değiştirme</li>
          <li>Posta adresi</li>
        </ul>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Hakkında</ion-text>
        <ul>
          <li>Yardım</li>
          <li>Şartlar ve Koşullar</li>
          <li>Veri koruma</li>
          <li>Lisanslar</li>
        </ul>
      </ion-label>
     
    </ion-item>
    <ion-item style="text-align: center;">
      <ion-label  (click)="logout()">ÇIKIŞ YAP</ion-label>
    </ion-item>
  
  </ion-list>
</ion-content>