<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Yolculuk ara</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="address-input m-top-30"> Kalkış yeri</div>
  <div class="address-input"> Varış yeri</div>
  <div class="date-passenger">
    <span>
      Bugün,21:00
    </span>
    <span>
      1 yolcu
    </span>
  </div>
  <div class="content">
    <div class="item-list">
      <ion-icon name="time-outline"></ion-icon>
      <div class="text">
        <h3>Konya Otogarı <ion-icon name="arrow-forward-outline"></ion-icon>Samsun </h3>
        <span> 1 yolcu</span>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="item-list">
      <ion-icon name="time-outline"></ion-icon>
      <div class="text">
        <h3>Konya Otogarı <ion-icon name="arrow-forward-outline"></ion-icon>Samsun </h3>
        <span> 1 yolcu</span>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div> <div class="item-list">
      <ion-icon name="time-outline"></ion-icon>
      <div class="text">
        <h3>Konya Otogarı <ion-icon name="arrow-forward-outline"></ion-icon>Samsun </h3>
        <span> 1 yolcu</span>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div> <div class="item-list">
      <ion-icon name="time-outline"></ion-icon>
      <div class="text">
        <h3>Konya Otogarı <ion-icon name="arrow-forward-outline"></ion-icon>Samsun </h3>
        <span> 1 yolcu</span>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="item-list">
      <ion-icon name="time-outline"></ion-icon>
      <div class="text">
        <h3>Konya Otogarı <ion-icon name="arrow-forward-outline"></ion-icon>Samsun </h3>
        <span> 1 yolcu</span>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="item-list">
      <ion-icon name="time-outline"></ion-icon>
      <div class="text">
        <h3>Konya Otogarı <ion-icon name="arrow-forward-outline"></ion-icon>Samsun </h3>
        <span> 1 yolcu</span>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="item-list">
      <ion-icon name="time-outline"></ion-icon>
      <div class="text">
        <h3>Konya Otogarı <ion-icon name="arrow-forward-outline"></ion-icon>Samsun </h3>
        <span> 1 yolcu</span>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>
