ion-title{
    font-size: 26px;
}
.address-input{
background-color: #EEEEEE;
width: 90%;
height: 50px;
margin: 15px auto;
border-radius: 20px;
font-size: 20px;
color: grey;
padding: 10px 20px ;
}
.m-top-30{
    margin-top: 30px;
}
.date-passenger{
    width: 90%;
    height: 70px;
    margin:15px auto;
    border-bottom: 1px solid #DFDFDE;
    border-top: 1px solid #DFDFDE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        color:#c6180a;
        font-size: 18px;
        ion-button{
            --color:#c6180a;
            --background: white;
        }
    }
}
.item-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px auto;
    ion-icon{
        font-size: 30px;
        color: grey ;
    }
    h3{

        ion-icon{
            font-size: 20px;
            color: black;
        }
    }
    span{
        color: grey;
    };
}
ion-modal {
    --width: 290px;
    --height: 382px;
    --border-radius: 8px;
  }

  ion-modal ion-datetime {
    height: 382px;
  }

  .btn{
    width: 100%;
    position: fixed;
    bottom: 30px;
    text-align: center;

    button{
        width: 150px;
        height: 40px;
        margin: 0px auto;
        border-radius: 20px;
        background-color: #c6180a;
        color: #fff;
    }
}

input,
select,.visible-text {
  box-sizing: border-box;
  height: 48px;
  width: 30%;
  padding-left: 16px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  outline: none;
  
}

input[type="date"] {
    min-width: 100px;
    width: 80% !important;
    cursor: pointer;
  }


  .container{
    width: 90%;
    border-radius: 20px;
    margin: 5px auto;

    padding: 10px;
    box-shadow: 1px 1px 1px 1px #888888;
    &-header{
        min-height: 60px;
        display: flex;
        position: relative;
        margin-bottom: 5px;
        &-time{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .passenger-count{
            font-size: 12px;
        }
        &-place{
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
            .price{
                position: absolute;
                right: 20px;
                top: 10px;
            }
        }
     
    }
   
}
