ion-header, ion-toolbar{
    background: #c6180a;
    border: none;
    color: white;
    h2{
        margin-left: 5%;
    }
}
ion-content{
    *{
        //font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
    }

    .main-header{
        height: 25vh;
        width:120%;
        background: #c6180a;
        box-shadow: 0 1px 10px (--ion-color-light);
        //border-radius: 0 0 50% 50%;
        margin-left: -4.5vh;
        margin-top: -5px;
        div{
            margin-bottom: 50px;
            transform: translateY(2vh);
            ion-icon{
                color:white;
                margin-left: 77%;
                margin-bottom: 5px;
                font-size: 1.3rem;
            }
            ion-avatar{
                width: 10vh;
                height: 10vh;
                margin-bottom: 5px;
            }
            h3{
                font-size: 1.3rem;
                color: white;
            }
        }
    }
    ion-row{
        margin-top: 0px;
        ion-col{
            ion-item{
                width:100%;
                margin: auto;
                //border: 1px solid var(--ion-color-light);
                border:none;
                //box-shadow: 1px var(--ion-color-dark);
                border-radius: 5px;
            }
        }
    }
    ion-list{
        ion-item{
            margin-top: 1vh;
        }
        ion-label{
            ion-text{
                font-size:1.3rem;
            }
            ul{
                list-style-type: none;
                li{
                    margin: 30px auto;
                }
            }
        }
    }
}
ion-segment{
    margin-top: 10px;
    ion-segment-button{
        height: 35px;
        font-size: 15px;
        --color-checked:#c6180a;
        --indicator-color:#c6180a;
    }
}