<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-back-button slot="start" text="" color="light">
    </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <h1>Ayrıntıları kontrol et ve rezervasyyon yap!</h1>
    <h3>Cum 08 Temmuz</h3>
    <div class="container" routerLink="/choose">
      <div class="container-header">
        <div class="container-header-time">
          <span>05:00</span>
          <span>13:00</span>
        </div>
        <div class="container-header-place">
          <span>Konya Otagari <br> <span class="city">Konya</span> </span>
          <span>Istanbul Otogar<br> <span class="city">Istanbul</span> </span>

        </div>
      </div>
      <div class="container-header-footer">
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://cdn.blablacar.com/comuto3/images/avatar/pixar/passenger-f-02.svg" />
          </ion-avatar>
          <ion-label>
            <h2>Lorem ipsum</h2>
          </ion-label>
        </ion-item>
      </div>
    </div>
    <hr>
    <h3>Cum 08 Temmuz</h3>
    <div class="price-info">
      <div class="price-info-title">
        <h5>1 koltuk 200TL</h5>
        <span>Arabaya bindiğinde öde</span>
      </div>
      <span class="cash">Nakik</span>
    </div>
  </div>
  <div class="next">
    <button routerLink="/tabs/tab1">Devam</button>
  </div>
</ion-content>
