<div class="container" routerLink="/choose">
  <div class="container-header">
    <div class="container-header-time">
      <span>05:00</span>
      <span>13:00</span>
    </div>
    <div class="container-header-place">
      <span>Konya <br> <span class="passenger-count">3 yolcu</span> </span>
      <span>Istanbul</span>
      <span class="price">200 TL</span>
    </div>
  </div>
  <div class="container-footer">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://cdn.blablacar.com/comuto3/images/avatar/pixar/passenger-f-02.svg" />
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
      </ion-label>
    </ion-item>
  </div>
</div>