<ion-content>
  <div class="content">
    <ion-icon (click)="dismiss()" name="close" class="content-close"></ion-icon>
    <h2> Nasıl kaydolmak istersin?</h2>
    <div (click)="goPhone()" class="continue">
      <ion-icon name="call-outline"></ion-icon>
      <span> Telefon numarası ile devam et </span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <hr>
    <div (click)="goEmail()" class="continue">
      <ion-icon name="mail-outline"></ion-icon>
      <span> E-posta ile devam et </span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <h3><b> Zaten üye misin? </b></h3>
    <a href="#" (click)="goSignup"> Giriş yap</a>
    <p>Kayıt olarak <a href="#">Şartlar ver Koşullarımız</a> ile <a href="#">Gizlilik politikamızı kabul etmiş olursun.</a></p>
    <p>Kişisel verilerinle ilgili haklara sahipsin ve bu hakları OneWay ile <a href="#">iletişim formu </a>üzerinden iletişim kurarak kullanabilirsin. hakların ve kişisel verilerini nasıl kullandığımız hakkında daha fazla 
      bilgi edinemk için <a href="#">Gizlilik Politikası</a> bölümümüze bakabilirsin.
    </p>

  </div>
</ion-content>
