<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-back-button slot="start" text="" color="light">
    </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <h3>Cum 08 Temmuz</h3>
    <div class="container" routerLink="/choose">
      <div class="container-header">
        <div class="container-header-time">
          <span>05:00</span>
          <span>13:00</span>
        </div>
        <div class="container-header-place">
          <span>Konya Otagari <br> <span class="city">Konya</span> </span>
          <span>Istanbul Otogar<br> <span class="city">Istanbul</span> </span>

        </div>
      </div>
    </div>
    <hr>
    <div class="price-blog">
      <span>1 yolcu için toplam fiyat</span>
      <h4>200 TL</h4>
    </div>
    <hr>
    <div class="auth-blog">
      <ion-item>
        <ion-avatar slot="end">
          <img src="https://cdn.blablacar.com/comuto3/images/avatar/pixar/passenger-f-02.svg" />
        </ion-avatar>
        <ion-label>
          <h2>Lorem ipsum</h2>
          <span><ion-icon name="star"></ion-icon> 4,7/5 - 6 puan</span>
        </ion-label>
      </ion-item>
      <div class="content-desc">
        Güvenli, rahat ve keyifli yolculuk geçirmeniz dileğiyle....
      </div>
      <h1>Ersin kullanıcısına ulaş</h1>
    </div>
    <hr>
    <div class="users-blog">
      <h2>Yolcular</h2>

      <ion-item>
        <ion-avatar slot="end">
          <img src="https://cdn.blablacar.com/comuto3/images/avatar/pixar/passenger-f-02.svg" />
        </ion-avatar>
        <ion-label>
          <h2>Lorem ipsum</h2>
          <span>Konya -> Mersin</span>
        </ion-label>
      </ion-item>
    </div>
  </div>
  <div class="next">
    <button routerLink="/reservation">Devam</button>
  </div>
</ion-content>