<ion-content>
  <div class="content">
    <ion-icon (click)="dismiss()" name="close" class="content-close"></ion-icon>
    <h2> Nasıl oturum açmak istersin?</h2>
    <div (click)="goPhone()" class="continue">
      <ion-icon name="call-outline"></ion-icon>
      <span> Telefon numarası ile devam et </span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <hr>
    <div (click)="goEmail()" class="continue">
      <ion-icon name="mail-outline"></ion-icon>
      <span> E-posta ile devam et </span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <h3><b> Henüz üye değil misin? </b></h3>
    <a href="#"> Üye ol</a>
  </div>
</ion-content>