/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "veriables.scss";

* {
  //font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
}

ion-header {
  height: 55px;
  --margin: 0px;
  --margin-top: 0px;
  margin: 0px;
  --padding: 0px;
  padding: 0px;
  --margin-top: constant(safe-area-inset-top) !important;
  --margin-top: env(safe-area-inset-top) !important;
  margin-top: constant(safe-area-inset-top) !important;
  margin-top: env(safe-area-inset-top) !important;
  --background: #000914 !important;
  position: relative;
  top: 0px; //android ios
}

.header {
  width: 89.4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto !important;

  text-align: start;
  z-index: 0;

  .header-title {
    width: 100%;
    border-radius: 20px;
    background-color: #eeeeee !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    .title {
      margin-left: 10px;
    }
    h5 {
      margin: 0px !important;
    }
  }
  .date {
    font-size: 12px;
  }
}

ion-searchbar {

  .searchbar-input-container {
    border-radius: 20px !important;
    input {
      font-size: 14px !important;
      border-radius: 20px !important;
    }
  }
}
