<ion-content>
  <ion-slides [options]="slideOpts" #mySlider>
    <ion-slide class="content">
      <div class="content-header">
        <ion-icon (click)="dismiss()" class="content-header-close" name="arrow-back-outline"></ion-icon>
        <h2> {{startValue}} nedir?</h2>
      </div>
  
      <div class="input-form">
        <ion-input placeholder="{{startPlaceholder}}" [(ngModel)]="_email"></ion-input>
        <div class="text-accept">
          <ion-label>OneWay'den haber, fırsat ve hediye almak istemiyorum</ion-label>
          <ion-checkbox checked="false"></ion-checkbox>
        </div>
      </div>
      <p>Abone olduğumda, doğrudan OneWay ile iletişime geçerek veya haber bültenindeki bağlantıya tıklayarak istediğim
        zaman abonelikten çıkabilirim
      </p>
      <ion-icon *ngIf="_email" name="arrow-forward-circle-outline" class="content-continue" (click)="nextSlide()"></ion-icon>
    </ion-slide>
    <ion-slide class="content">
      <div class="content-header">
        <ion-icon (click)="prevSlide()" class="content-header-close" name="arrow-back-outline"></ion-icon>
        <h2> Adın ne?</h2>
      </div>
      <div class="input-form">
        <ion-input placeholder="Ad" [(ngModel)]="_name"></ion-input>
        <ion-input placeholder="Soyad"  [(ngModel)]="_surname"></ion-input>
      </div>
      <ion-icon *ngIf="_surname!='' && _name!=''" name="arrow-forward-circle-outline" class="content-continue" (click)="nextSlide()"></ion-icon>
    </ion-slide>
    <ion-slide class="content"> 
      <div class="content-header">
        <ion-icon (click)="prevSlide()" class="content-header-close" name="arrow-back-outline"></ion-icon>
        <h2> Doğum tarihin nedir?</h2>
      </div>
      <div class="input-form">
        <ion-input type="date" [(ngModel)]="_date"></ion-input>
      </div>
      <ion-icon *ngIf="_date" name="arrow-forward-circle-outline" class="content-continue" (click)="nextSlide()"></ion-icon>
    </ion-slide>
    <ion-slide class="content"> 
      <div class="content-header">
        <ion-icon (click)="prevSlide()" class="content-header-close" name="arrow-back-outline"></ion-icon>
        <h2> Size nasıl hitap edilmesini tercih edersiniz?</h2>
      </div>
      <div class="input-form">
        <ion-list>
          <ion-radio-group value="gender"> 
            <ion-item>
              <ion-label>Bay</ion-label>
              <ion-radio slot="start" value="male"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Bayan</ion-label>
              <ion-radio slot="start" value="female"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Söylememeyi tercih ederim</ion-label>
              <ion-radio slot="start" value="nothing"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>
      <ion-icon *ngIf="_date" name="arrow-forward-circle-outline" class="content-continue" (click)="nextSlide()"></ion-icon>
    </ion-slide>
    <ion-slide class="content"> 
      <div class="content-header">
        <ion-icon (click)="prevSlide()" class="content-header-close" name="arrow-back-outline"></ion-icon>
        <h2> Parolaya ihtiyacın olacak. </h2>
          <span>1 harf, 1 rakam ve 1 özel karakter içerecek şekilde en az 8 karakterden oluşmalıdır.</span>
      </div>
      <div class="input-form">
        <ion-input placeholder="Şifre" type= "password" [(ngModel)]="_password"></ion-input>
      </div>
      <ion-icon *ngIf="_password" name="arrow-forward-circle-outline" class="content-continue" (click)="nextSlide()"></ion-icon>
    </ion-slide>
  </ion-slides>
</ion-content>
